*{
    margin:0;
    padding:0;
}
body{
    background-color: black !important;
    font-family:sans-serif;
}
.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    background-color: #fff;
    margin-bottom: 20px;
    border:2px solid orange;
    z-index: 2;
}
.logo{
    height: 40px;
    margin: 5px 10px;
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 2px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-text{
    background: black;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box{
    display: inline-flex;
    width:60%;
}
.fa-search{
    color: black;
}
.menu-bar{
    width: 40%;
    height: 57px;
    float: right;
}
.menu-bar ul{
    display: inline-flex;
    float: right;
}
.menu-bar ul li{
    border-left: 1px solid black;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}
.menu-bar ul li a{
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
}
.fa-shopping-basket{
    margin-right: 5px;
}
@media only screen and (max-width: 980px)
{
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box{
        width:100%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul{
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li{
        height: 57px;
        width: 100%;
    }
}


/*------ SIDE MENU-------*/
.side-menu{
    height: 79%;
    width:15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: orange;
}
.side-menu ul{
    margin-left: 10px;
}
.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover{
    color: white;
}
.side-menu ul li ul{
    display: none;
    z-index: 10;
    top:77px;
}
.side-menu ul li:hover ul{
    display: block;
    height: 400px;
    margin-left: 14%;
    padding:0 100px 10px 10px;
    position: fixed;
    background: black;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-angle-right{
    margin-top: 4px;
    margin-right:20px;
    float: right;
}
#menu-btn , #close-btn{
    font-size: 30px;
    margin: 10px;
    color: orange;
    display: block;
}
@media only screen and  (max-width: 980px)
{
    .side-menu{
        width:34%;
        z-index:20;
        top:133px;
        position: fixed;
        font-size: 12px;
        display: none;
    }
    .side-menu ul li ul{
        top:133px;

    }
    .side-menu ul li:hover ul{
        margin-left: 31%;
    }
    #menu-btn{
        display: block;
    }
}
/*-----------------slider css------------------------------------*/
.slider{
    width: 85%;
    margin-left: 15%;
    margin-top: 20px;
    padding: 0 10px;
}
.carousel{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);

}
.carousel-indicators{
    z-index: 1 !important;
}
@media only screen and (max-width:980px)
{
    .slider{
        width: 100%;
        margin-top: 80px;
        margin-left: 0;
    }
}
/*----featured-categories------*/
.featured-categories{
    margin: 50px 0;
}
.featured-categories img{
    width:100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover{
    transform: scale(1.1);
}
/*------ON SALE PRODUCT-----*/
.title-box{
    background: orange;
    color:#fff;
    width:193px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box h2{
    font-size: 24px;
}
.title-box::after{
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}

/*---------product-top------*/
.product-top img{
    width: 100%;
}
.overlay-right{
    display: block;
    opacity: 0;
    position: absolute;
    top:10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa{
    cursor: pointer;
    background-color: #fff;
    color:#000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.overlay-right .btn-secondary{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

/*------------------Product bottom------*/
.product-bottom .fa{
    color:orange;
    font-size: 10px;
}
.product-bottom h3{
  font-size: 20px;
  font-weight:bold;
  color:white;
}
.product-bottom h5{
  font-size: 15px;
  padding-bottom: 10px;
  color:white;
}
.new-products{
    margin: 50px 0;
}

/*-----website feature---*/
.website-features
{
    margin: 60px 0;
}
.website-features img{
    width: 20%;
}
.feature-text{
    margin-top: 10px;
    float: right;
    width:80%;
    padding-left: 20px;
    color:white;

}
.feature-box
{
    padding-top: 20px;
}
/*----footer----*/
.footer{
    margin-top: 50px;
    background: #000;
    color:#fff;
}
.footer h1{
    font-size: 15px;
    margin: 25px 0;
}
.footer p{
    font-size: 12px;
}
.copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.fa-heart-o
{
    color:red;
    font-size: 15px;
}
.footer hr{
    margin-top: 18px;
    background-color: orange;
}
.footer-image img{
    width: 150px;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

/*----SINGLE-PRODUCT------*/
.single-product{
    margin-top: 70px;
}
.new-arrival{
    background: green;
    width:50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.col-md-7 h2{
    color:white;
}
.single-product .fa{
   color:orange;
}
.single-product .price{
    color:orange;
    font-size:26px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product input{
    border: 1px solid #ccc;
    font-weight:bold;
    height:33px;
    text-align: center;
    width:30px;
}
.single-product .btn-primary{
    background: orange !important;
    color:#fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}
/*---product-description---*/

.product-description h6{
    margin-top: 50px;
    color: orange;
}
.product-description p{
    margin-top: 30px;
    color:white;

}
.product-description hr{
    margin-bottom: 50px;
    color:orange;
}
p{
  color:white;
}
label{
  color:white;
}

/*------------------login page--------------------*/
body {
  margin: 0;
  padding: 0;
  background: url("images/login-bg.gif") no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}
